#pizza{
    position: absolute;
    background: brown;
    width: 70px;
    height: 70px;
    top: 285px;
    left: -500px;
    z-index: 2;

}

#bottomtopping{
    background-color: palevioletred;
    height: 20%;
}

#scoreboard{
    background-color: white;
    position: absolute;
    height: 28%;
    width: 20%;
    left: 70%;
}

#toptopping{
    background-color: lightcoral;
    height: 20%;
}
#topping{
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
    z-index: 3;
}

#maingame{
    background-color: palegreen;
    height: 40%;
    overflow: hidden;
    /* margin-left: 0; */
}

#bottom{
    background-color: palegoldenrod;
    height: 15%;
}

#top{
    background-color: blueviolet;
    height: 15%;
}

#background{
    width: 95vw;
    height: 45vw;
    background-color: rosybrown;
}