#onion{
    background-image: url("../images/onionbin.png");
    background-color: darkmagenta;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#olive{
    background-image: url("../images/olivebin.png");
    background-color: olive;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#sauce{
    background-image: url("../images/saucebin.png");
    background-color: #770a04;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#cheese{
    background-image: url("../images/cheesebin.png");
    background-color: #e8aa1b;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mushroom{
    background-image: url("../images/mushroombin.png");
    background-color: #9e7965;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}



#basil{
    background-image: url("../images/basilbin.png");
    background-color: #023d02;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pepperoni{
    background-image: url("../images/pepperonibin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #6b0a05;
}

#pizza{
    position: relative;
    background-image: url("../images/pizza.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 25%;
    height: 100%;
    top: 0%;
    left: -700px;
    z-index: 2;
}
.lives{
    float:right;
    margin-right:35px;
    background-image: url("../images/lives.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.noselect { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    }
.toppingbar{
    background-color: gray; 
    background-image: url("../images/toptexture.jpg");
    border-style: solid;
    border-width: 0.5px;
    height: 14%;
    overflow: hidden;
}
.toppingbarlip{
    background-color: #543B39;
    height: 3%;
    border-style: solid;
    border-width: 0.5px;
    border-top: 0;
}

textarea {
    background: transparent;
    color: black;
    resize: none;
    border: 0 none;
    top: 20%;
    width: 200px;
    font-size: 1.2em;
    outline: none;
    height: 100%;
    position: absolute;
  }
#scoreboard{
    overflow:auto;
    position: relative;
    /* white-space:normal; */
    /* background-color: white; */
    background-image: url("../images/sign.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 1%;
    padding-left: 2%;
    top: 25px;
    height: 70%;
    width: 25%;
    top: 0%;
    left: 70%;
}

.toppingdiv{
    height: 90%;
    width: 12.5%;
    margin: 5px;
    float: left;
    border-style: solid;
    border-width: 0.5px;
    z-index: 2;

}

#topping{
    position: relative;
    background-color: black;
    height: 20px;
    width: 20px;
    z-index: 3;
    
}
.topping{
    position: absolute;
    /* background-color: black; */
    height: 20px;
    width: 20px;
    z-index: 5;
    
}

#maingame{
    background-image: url("../images/conveyorspeed10.gif");
    background-color: gray;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    height: 40%;
    overflow: hidden;
    z-index: 2;
    /* margin-left: 0; */
}

#top{
    /* background-color: blueviolet; */
    height: 50%;
}

#background{
    width: 95vw;
    height: 90vh;
    background-image: url("../images/background.jpg");
    background-position: 0 -100px;
    background-size: contain;
}