#sauce{
    background-image: url("../images/sauce.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#cheese{
    background-image: url("../images/cheese.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#mushroom{
    background-image: url("../images/mushroom.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#tomatoes{

}

#basil{
    background-image: url("../images/basil.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pepperoni{
    background-image: url("../images/pepperoni.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#pizza{
    position: relative;
    background-image: url("../images/pizza.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 25%;
    height: 100%;
    top: 0%;
    left: -700px;
    z-index: 2;
}
.noselect { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    }
.toppingbar{
    background-color: gray; 
    border-style: solid;
    border-width: 0.5px;
    height: 14%;
    position: relative;
    overflow: hidden;
}
.toppingbarlip{
    background-color: #543B39;
    height: 3%;
    border-style: solid;
    border-width: 0.5px;
    border-top: 0;
}
#scoreboard{
    position: relative;
    background-color: white;
    height: 70%;
    width: 25%;
    top: 0%;
    left: 70%;
}

.toppingdiv{
    height: 90%;
    width: 12.5%;
    margin: 5px;
    float: right;
    border-style: solid;
    border-width: 0.5px;
    z-index: 2;
}
.binmushroom{
    background-color: #9e7965;
}
.binpepperoni{
    background-color: #6b0a05;
}
.bincheese{
    background-color: #e8aa1b;
}
.binsauce{
    background-color: #770a04;
}
.binbasil{
    background-color: #023d02;
}
#topping{
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
    z-index: 3;
}
.topping{
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
    z-index: 3;
    overflow: hidden;
}

#maingame{
    background-image: url("../images/startspeed3.gif");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    height: 40%;
    overflow: hidden;
    /* margin-left: 0; */
}

#top{
    /* background-color: blueviolet; */
    height: 50%;
}

#background{
    width: 95vw;
    height: 90vh;
    background-image: url("../images/background.jpg");
    background-position: 0 -100px;
    background-size: contain;
}